@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Special Elite', cursive;
}

body {
  margin: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  background-color: rgba(251, 251, 226, 0.612);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px 10px 25px 10px;
}

.new-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 160px;
}

.game-header {
  margin: 80px 0 50px 0;
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  background-image: linear-gradient(blue, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.new-game__btn {
  padding: 10px 25px 5px;
  font-size: 2rem;
  border: 1px solid black;
  border-radius: 8px;
  color: yellow;
  background-color: blue;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.new-game__btn:hover {
  color: blue;
  background-color: yellow;
}

.weapons {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}

.weapons button {
  width: 120px;
  height: 120px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50%;
  background-color: rgb(196, 210, 185);
  color: rgb(128, 59, 59);
  font-size: 1.5rem;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.weapons button:hover {
  background-color: rgb(134, 199, 85);
  color: rgb(206, 53, 53);
}

.choice,
.score {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 3px;
}

.player__choice-container,
.computer__choice-container,
.player__score-container,
.computer__score-container {
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px;
  width: 130px;
  flex: 0 0 auto;
  min-height: 90px;
  background-color: rgb(252, 248, 248);
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h3 {
  background-image: linear-gradient(blue, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.4rem;
}

.special-divider {
  border: none;
  background-color: rgb(128, 59, 59);
  height: 2px;
  width: 50%;
  margin: 12px auto;
}

.player__choice,
.computer__choice,
.player__score,
.computer__score {
  color: rgb(134, 199, 85);
  font-size: 1.8rem;
}

.round-result {
  color: rgb(206, 53, 53);
  min-height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.score {
  margin-top: 20px;
}

.attribution {
  margin-top: 50px;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attribution a {
  text-decoration: none;
  background-image: linear-gradient(blue, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.hide {
  display: none;
}
