@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Special Elite', cursive;
}

body {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.new-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
